#roles_by_project_data {
  background-color: black;
  color: #c0c0c0;
}

body {
  font-family: Times New Roman, Helvetica, serif;
  background-image: none;
  font-weight: normal;
}

ul, ol {
  list-style: inherit;
  
}

.tweet {
  margin-bottom: 2em;
}

.tweet .full-text {
  font-size: 1.5em;	
}

.tweet .date {
	font-style: italic;
}

.tweet .reply-to {
	color: green;
	font-weight: bold;
}

.post-tagged-biz {
  color: blue;  
}

.post-tagged-life {
  color: red;
}


.post-tagged-review {
  color: gold;
}


.post-tagged-podcast {
  color: green;
}