#roles_by_project_data {
  background-color: black;
  color: #c0c0c0;
}

body {
  font-family: Times New Roman, Helvetica, serif;
  background-image: none;
  font-weight: normal;
}

ul, ol {
  list-style: inherit;
  
}

.tweet {
  margin-bottom: 2em;
}

.tweet .full-text {
  font-size: 1.5em;	
}

.tweet .date {
	font-style: italic;
}

.tweet .reply-to {
	color: green;
	font-weight: bold;
}

@media (min-width: 768px) {
  .archive-month h4 {
    margin-left: 2em;
    margin-bottom: 1em;
    font-size: 144%;
  }

  .archive-month ul {
    margin-left: 14em;	
  }
}

#posts .btn-group button {
	width: 115px;
	height: 115px;
}

.post-tagged {
  display: block;
}

.post-tagged .date-day {
	font-size: larger;
}

.post-tagged-biz { 
}

.post-tagged-life {
}


.post-tagged-review {
}


.post-tagged-podcast {
}