{
 :public-dest          "public"
 :clean-urls           :trailing-slash
 :collapse-subdirs?    false

 :site-title           "hi"
 :author               "Harlan Iverson"
 :description          "This blog is awesome"
 :site-url             "https://harlanji.com/"
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        ""
 :page-root-uri        ""
 :tag-root-uri         "tag"
 :author-root-uri      "author"
 :blog-prefix          ""
 :rss-name             "feed.xml"
 :rss-filters          ["career"]
 :recent-posts         3
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy MMMM"
 :archives-title       "Timeline"
 :sass-src             []
 :sass-path            "sass"
 :compass-path         "compass"
 :theme                "harlanji"
 :resources            ["img" "assets"]
 :keep-files           [".git"]
 :disqus?              false
 :disqus-shortname     ""
 :ignored-files        [#"\.#.*" #".*\.swp$" #".*\~$"]
 :posts-per-page       9
 :blocks-per-preview   6
 :previews?            true
 :clean-urls?          true
 :hide-future-posts?   false
 :klipse               {}
 :debug?               false
 
 :tao-yt-uri "https://www.youtube.com/embed/i_LoYQAjjuw?start=642" 
 
 :contact {:first-name "Harlan"
           :name "Harlan J. Iverson"
           :phone-number "(four one f1ve).93 seven.7four67"
           :email "social @ this domain d0t com"} 
 
 }