<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% style "css/bootstrap-3.3.0.css" %}

    {% script "js/jquery-1.11.js" %}
    {% script "js/bootstrap-3.3.0.js" %}


    {% style "PixelKit-Bootstrap-UI-Kits/funky-tunes/funky-tunes-css/style.css" %}

    {% script "PixelKit-Bootstrap-UI-Kits/funky-tunes/funky-tunes-css/js/libs/jquery-ui.min.js" %}
    {% script "PixelKit-Bootstrap-UI-Kits/funky-tunes/funky-tunes-css/js/general.js" %}
    

    {% style "css/screen.css" %}





    {% block head %}{% endblock %}

</head>
<body>




<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">HarlanJI</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse in" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
          <ul class="dropdown-menu">
  {% for nav-page in navbar-pages %}
    <li {%ifequal page.uri nav-page.uri %} class="active" {% endifequal %}>
      <a href="{{nav-page.uri}}">{{nav-page.title}}</a>
    </li>
  {% endfor %}
  <li {% if archives %} class="active" {% endif %}><a href="{{archives-uri}}">Archives</a></li>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      			<li><a href="https://github.com/harlanji"><img src="img/github.png" alt="github" height="19" width="19"></a></li>
      			<li><a href="https://instagram.com/harlanji"><img src="img/instagram.png" alt="instagram" height="19" width="19"></a></li>
            <li style="height: 50px">
                <a href="https://www.patreon.com/bePatron?u=5487270" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
            </li>
<li><a href="https://fiverr.com/harlanji">Fiverr</a></li>        
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container-fluid">

                {% block content %}
                {% endblock %}
</div>

</body>
</html>


 
