<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta charset="utf-8"/>
    <title>{{title}}{% block subtitle %}{% endblock %}</title>
    <link rel="canonical" href="{{site-url}}{{uri}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% style "css/bootstrap-3.3.0.css" %}

    {% script "js/jquery-1.11.js" %}
    {% script "js/bootstrap-3.3.0.js" %}


    {% style "PixelKit-Bootstrap-UI-Kits/funky-tunes/funky-tunes-css/style.css" %}

    {% script "PixelKit-Bootstrap-UI-Kits/funky-tunes/funky-tunes-css/js/libs/jquery-ui.min.js" %}
    {% script "PixelKit-Bootstrap-UI-Kits/funky-tunes/funky-tunes-css/js/general.js" %}
    

    {% style "css/screen.css" %}





    {% block head %}{% endblock %}

</head>
<body>

 <div class="container">
                {% block content %}
                {% endblock %}
</div>

</body>
</html>


 
