{% extends "/html/base-navbar.html" %}
{% block content %}


<div id="page-header">
<h2>{{ contact.name }}</h2>
</div>

<p>Welcome to the origin of {{contact.first-name}}'s online presence.</p>

<hr>

<div id="post">

{% include "/html/post-header.html" %}


{% if post.tags|selmer-some-tag?:"podcast" %}

{% if post.cover-src %}
<img src="{{ post.cover-src}}" alt="cover image">
{% endif %}

{% include "/html/podcast-audio.html" %}

{% endif %}

{% include "/html/post-content.html" %}

</div>

<hr>

<p>Contact: {{contact.email}} or {{contact.phone-number}}.</p>

<p>I prefer to meet up; Facetime is next best; phone call is next best; email is next best; texting for quick messages is aiight.</p>

<p>Hosted in a <a href="https://tinydatacenter.com">Tiny DataCenter</a></p>



{% endblock %}
