{% extends "/html/post.html" %}

{% block content %}
<div id="post post-video">

  {% include "/html/post-header.html" %}

   <!-- 
   you may replace allow element with:
     allow="allowautoplay; encrypted-media" -->
  
  <iframe width="560" 
    height="315"
    src="https://www.youtube-nocookie.com/embed/{{ post.yt-video-id }}?rel=0&amp;t={{ post.yt-video-start-time }}"
    frameborder="4"
    allow="encrypted-media;picture-in-picture"
    allowfullscreen>
  </iframe>

<!--
    
  {% include "/html/post-content.html" %}

-->

    <div id="prev-next">
        {% if post.prev %}
        <a href="{{post.prev.uri}}">&laquo; {{post.prev.title}}</a>
        {% endif %}
        {% if post.next %}
        <a class="right" href="{{post.next.uri}}">{{post.next.title}} &raquo;</a>
        {% endif %}
    </div>

</div>
{% endblock %}
