{% extends "/html/base.html" %}
{%block subtitle %}: {{post.title}}{% endblock %}
{% block head %}

{% if post.thumbnail-url %}
<meta name="twitter:card" content="summary_large_image">
{% else %}
<meta name="twitter:card" content="summary">
{% endif %}
<meta name="twitter:site" content="@harlanji">
<meta name="twitter:creator" content="@harlanji">

<meta property="og:url" content="{{site-url}}{{uri}}">
<meta property="og:title" content="{{post.title}}">
<meta property="og:description" content="{{post.title}}.">

{% if post.thumbnail-url %}
<meta property="og:image" content="{{site-url}}/{{post.thumbnail-url}}">
{% endif %}

{% endblock %}
{% block content %}
<div id="post">

  {% include "/html/post-header.html" %}

  {% block post-content %}

    {% include "/html/post-content.html" %}

  {% endblock %}
    
    <div id="prev-next">
        {% if post.prev %}
        <a href="{{post.prev.uri}}">&laquo; {{post.prev.title}}</a>
        {% endif %}
        {% if post.next %}
        <a class="right" href="{{post.next.uri}}">{{post.next.title}} &raquo;</a>
        {% endif %}
    </div>
    

    {% if disqus-shortname %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_config = function () {
            this.page.url = "{{site-url}}{{uri}}";
            this.page.identifier = "{{post.title}}";
        };
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//{{disqus-shortname}}.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    {% endif %}


</div>
{% endblock %}
